/*resetting the page layout*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height:  100vh;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 50px;
}

.column{
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

new-tasks{
    background-color: #e9f7fc;
}

#in-progress{
    background-color: #fff3cd;
}

#completed{
    background-color: #d4edda;
}

.task{
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task p{
    margin: 5px 0;
}